{% extends "../layouts/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="/assets/css/style.css"/>
{% endblock %}

{% block title %}
	<title>{{ t('forgot_password_title') }}
		| ÉchappéeVerte</title>
{% endblock %}

{% block main %}
	<div class="auth-container">
		<h2>{{ t('forgot_password_question') }}</h2>
		<p>{{ t('forgot_password_instruction') }}</p>

		<form class="auth-form" action="/api/auth/forgotpassword" method="post">
			<div>
				<label for="mail">{{ t('email') }}</label>
				<input type="email" id="mail" name="mail" required>
			</div>

			{% if error %}
				<div class="error-message">
					<p>{{ error }}</p>
				</div>
			{% endif %}
			{% if success %}
				<div class="success-message">
					<p>{{ success }}</p>
				</div>
			{% endif %}

			<button class="btn-primary" type="submit">{{ t('send') }}</button>
		</form>

		<div class="auth-links">
			<a href="/login">{{ t('back_to_login') }}</a>
		</div>
	</div>
{% endblock %}
