{% block style %}
	<link rel="stylesheet" href="/assets/css/style.css"/>
{% endblock %}

{% block title %}
	<title>{{ t('legal_notice_title') }}
		| ÉchappéeVerte</title>
{% endblock %}

{% block main %}
	<main class="legal-page">
		<div class="mentions-container">
			<h2>{{ t('legal_notice_title') }}</h2>

			<section>
				<h3>{{ t('legal_notice_editor') }}</h3>
				{% set editor = t('legal_notice_editor_content') %}
				{% set editor_parts = editor|split('{email}') %}
				<p>
					{{ editor_parts[0]|nl2br|raw }}
					<a href="mailto:alfred.lucas13009@gmail.com">alfred.lucas13009@gmail.com</a>
					{{ editor_parts[1]|default('')|nl2br|raw }}
				</p>
			</section>

			<section>
				<h3>{{ t('legal_notice_director') }}</h3>
				<p>{{ t('legal_notice_director_content') }}</p>
			</section>

			<section>
				<h3>{{ t('legal_notice_host') }}</h3>
				{% set host = t('legal_notice_host_content') %}
				{% set host_parts = host|split('{site}') %}

				<p>
					{{ host_parts[0]|nl2br|raw }}
					<a href="https://www.ovh.com" target="_blank" rel="noopener noreferrer">https://www.ovh.com</a>
					{{ host_parts[1]|default('')|nl2br|raw }}
				</p>
			</section>

			<section>
				<h3>{{ t('legal_notice_ip') }}</h3>
				<p>{{ t('legal_notice_ip_content') }}</p>
			</section>
		</div>
	</main>
{% endblock %}
