{% block style %}
	<link rel="stylesheet" href="/assets/css/style.css"/>
{% endblock %}

{% block title %}
	<title>{{ t('privacy_policy_title') }}
		| ÉchappéeVerte</title>
{% endblock %}

{% block main %}
	<main class="legal-page">
		<div class="privacy-container">
			<h2>{{ t('privacy_policy_title') }}</h2>

			<p>{{ t('privacy_policy_intro') }}</p>
			<p>{{ t('privacy_policy_use') }}</p>
			{% set parts = t('privacy_policy_rights')|split('{email}') %}
			<p>
				{{ parts[0]|nl2br|raw }}
				<a href="mailto:lucasalfred.devweb@gmail.com">lucasalfred.devweb@gmail.com</a>
				{{ parts[1]|default('')|nl2br|raw }}
			</p>
			<p>{{ t('privacy_policy_retention') }}</p>
		</div>
	</main>
{% endblock %}
