{% extends "../layouts/base.twig" %}

{% block title %}
	<title>
		{{ t('forgot_password_title') }}
		| ÉchappéeVerte
	</title>
{% endblock %}

{% block main %}
	<main>
		<div class="reset-password-container">
			<h2>{{ t('reset_password') }}</h2>
			{% if success %}
				<div class="success-message">
					<p>{{ success }}</p>
				</div>
				<a href="/login" class='btn btn-primary'>{{ t('login') }}</a>
			{% else %}
				<form class="reset-password-form" action="/api/auth/resetpassword/{{ token }}" method="post">
					<div>
						<label for="password">{{ t('new_password') }}</label>
						<input type="password" id="password" name="password" required>
					</div>
					<div>
						<label for="passwordConfirm">{{ t('confirm_password') }}</label>
						<input type="password" id="passwordConfirm" name="passwordConfirm" required>
					</div>
					{% if error %}
						<div class="error-message">
							<p>{{ error }}</p>
						</div>
					{% endif %}
					<button type="submit">{{ t('reset_button') }}</button>
				</form>
			{% endif %}
		</div>
	</main>
{% endblock %}
